<config>
    <modules>
        <Smdotcom_Newblock>
            <version>0.1.0</version>
        </Smdotcom_Newblock>
    </modules>
    <frontend>
        <routers>
            <newblock>
                <use>standard</use>
                <args>
                    <module>Smdotcom_Newblock</module>
                    <frontName>newblock</frontName>
                </args>
            </newblock>
        </routers>
        <layout>
            <updates>
                <newblock>
                    <file>newblock.xml</file>
                </newblock>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <newblock>
                <class>Smdotcom_Newblock_Helper</class>
            </newblock>
        </helpers>
        <blocks>
            <newblock>
                <class>Smdotcom_Newblock_Block</class>
            </newblock>
        </blocks>
        <models>
            <newblock>
                <class>Smdotcom_Newblock_Model</class>
                <resourceModel>newblock_resource</resourceModel>
            </newblock>
            <newblock_resource>
                <class>Smdotcom_Newblock_Model_Resource</class>
                <entities>
                    <newblock>
                        <table>smdotcom_newblock</table>
                    </newblock>
                </entities>
            </newblock_resource>
        </models>

        <resources>
            <newblock_setup>
                <setup>
                    <module>Smdotcom_Newblock</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </newblock_setup>
            <newblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newblock_write>
            <newblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newblock_read>
        </resources>

    </global>
</config>
